<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<!-- MESSAGES SHOW HERE -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div style="
            padding: 10px; 
            margin-bottom: 20px; 
            border: 1px solid;
            {% if category == 'danger' %}
                background-color: #f8d7da; color: #721c24; border-color: #f5c6cb;
            {% else %}
                background-color: #d4edda; color: #155724; border-color: #c3e6cb;
            {% endif %}
          ">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h2>Welcome to Assignment Platform</h2>
    <p>User Matric: {{ current_user.matric }}</p>

    <a href="/submit">Submit Assignment</a>
    <br><br>
    <a href="/logout">Logout</a>

</body>
</html>